@charset "utf-8";
/* CSS Document */
body{
	font-family: "Myriad Pro", "Myriad Pro Cond", "Arial Rounded MT Bold", "Arial Narrow", "Arial Black", "Arial";
	font-weight: 700;
	font-style: normal;
}
h2, p{
	text-align: center;
}
